<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>

    <style>
        html {
            background-color: lightskyblue;

            color: brown;

            text-align: center;
        }
    </style>
</head>

<body>

    <h1>Welcome to Space!</h1>

    <p>To select a date for the NASA image of the day, click <%- addImage %></p>
    <p>To search for an image you have already seen by date, click <%- lookupImage %></p>
    <p>To clear your collection of NASA images, click <%- clearCollection %></p>

    <hr>

</body>