<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>

    <style>
        html {
            background-color: lightskyblue;;

            color: brown;

            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Removal of All Space Images</h1>

    <p>All space images have been removed. Number of images removed: <%- num %></p>

    <br>

    <hr>

    <%- home %>
</body>
</body>